
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #262626;
}

/*
.container {
    margin-top: -50px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
*/
.container {
display: grid;
grid-template-rows: 80px auto 1fr auto 50px;
grid-template-columns: 1fr 4fr 1fr;
height: 100vh;
grid-template-areas:
"header         header          header"
"left-aside     banner          right-aside"
"left-aside     main            right-aside"
"left-aside     low-content     rigth-aside"
"foter          footer          footer";
gap: 10px;
padding: 10px;
height: 600;
font-size: 10px;

/*align-items: center;*/
}

.outerBox {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 100%;            /* ocupar toda el área del grid */
}

.box {
  width: 200px;
  height: 300px;
  transform-style: preserve-3d;
  position: relative; /* o quitá absolute */
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #262626;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(240px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0002);
}

.box span img {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 180px;
    height: 200px;
    object-fit: cover;
}

.box span::before {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 15px #fff;
    z-index: 2;
}

.outerBox:not(:hover) .box{
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

@media (max-width: 678px) {
    .container {
        grid-template-rows: 50px 50px 50px 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "banner"
        "lefe-aside"
        "main"
        "right-aside"
        "low-content"
        "footer";
    }
}
    